body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header-container {
  background-color: #2b2b2b;
  display: grid;
  grid-template-columns: 72% 28%;
  grid-template-rows: repeat(2, 1fr);
  color: #ffffff;
  height: 175px;
}

.body-container {
  background-color: #efefef;
  width:100%;
  height: 100%;
}

.admin {
  grid-area: 1 / 2 / 2 / 2;
  margin: 0 0 30px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.admin-username {
  font-size: 1em;
  color: #29b5fC;
}

.admin-username:hover {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

.admin-icon {
  width: 1.6em;
  height: 1.6em;
  margin: 0 10px;
}

.down-icon {
  width: 1em;
  height:1em;
  margin: 0 20px 0 10px;
}

.logo {
  grid-area: 2 / 2 / span 1 / span 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 20px 0;
}

.logo-text {
  margin: 0 7px 0 0;
  display: flex;
  justify-content: flex-end;
  font-size: 5em;
}

.logo-text:hover {
  cursor: pointer;
}

.logo-icon {
  width: 4em;
  height: 4em;
}

.logo-icon:hover {
  cursor: pointer;
}

.nav-bar-container {
  grid-area: 2 / 1 / span 1 / span 1;
  margin: 0 20px;
  display: flex;
  padding: 0;
}

.nav-bar-li {
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;
  font-size: 1.3em;
  color: #868686;
}

.nav-playlists {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-bar-li:hover {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
 } 

.nav-icon {
  width: 1.7em;
  height: 1.7em;
  margin: 0 10px 0 0;
  padding: 0 0 3px 0;
}

.nav-videos {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shares {
  padding: 20px 0 0 0;
  font-size: 2em;
  color: #4d4d4d;
  margin: 0 20px;
}

.nav-shares {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  margin: 20px;
  color: #686868;
}

.name {
  margin-bottom: 0;
  font-size: 1.9em;
}

.date {
  font-size: 1em;
  margin-top: 5px;
  padding: 0;
  color: #7b7b7b;
}

.link {
  background-color: #efefef; 
  padding: 15px;
  margin: 25px 0;
  font-size: 1em;
  word-wrap: break-word;
  text-decoration: none;
  color: #686868;
}

.link:hover {
  color: #29b5fC;
  text-decoration: underline;
  cursor: pointer;
}

h4 {
  font-size: 1em;
  text-transform: uppercase;
  margin: 30px 0 0 0;
}

.playlist-name {
  margin: 0;
  font-size: 1.5em

}

.attachment-number {
  color: #29b5fC;
  font-size: 3em;
  margin: 5px 0 0 0;
}

.card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.card:hover {
  transform: scale(1.02);
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.card-pic {
  background-size: cover;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.arrow-icon {
  width: 60px;
  height: 60px;
  margin: 15px;
}

.arrow-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
} 

.views {
  margin: 15px;
  align-content: center;
}

.views-text {
  color: #ffffff;
  text-transform: uppercase;
  font-size: .75em;
  margin: 0;
  display: block;
}

.view-number {
  color: #ffffff;
  font-size: 1.7em;
  margin: 0;
  padding-left: 3px;
  display: block;

}

.card:hover {
  cursor: pointer;
}

.recipient1 {
    background: 
    linear-gradient(
      rgba(56, 56, 56, .6),
      rgba(56, 56, 56, .6)),
    url(images/headshot1.jpg);
  background-position: 45% 20%;
  background-size: cover;
}

.card:hover .recipient1 {
  background-image: url(images/headshot1.jpg);
}

.recipient2 {
  background: 
  linear-gradient(
    rgba(56, 56, 56, .6),
    rgba(56, 56, 56, .6)),
  url(images/headshot14.jpg);
  background-position: 45% 20%;
  background-size: cover;
}

.card:hover .recipient2 {
  background-image: url(images/headshot14.jpg);
}

.recipient3 {
  background: 
  linear-gradient(
    rgba(56, 56, 56, .6),
    rgba(56, 56, 56, .6)),
  url(images/headshot3.jpg);
  background-position: 45% 20%;
  background-size: cover;
}

.card:hover .recipient3 {
  background-image: url(images/headshot3.jpg);
}

.recipient4 {
    background: 
    linear-gradient(
      rgba(56, 56, 56, .6),
      rgba(56, 56, 56, .6)),
    url(images/headshot17.jpg);
  background-position: 45% 20%;
  background-size: cover;
}

.card:hover .recipient4 {
  background-image: url(images/headshot17.jpg);
}

.recipient5 {
  background: 
  linear-gradient(
    rgba(56, 56, 56, .6),
    rgba(56, 56, 56, .6)),
  url(images/headshot9.jpg);
  background-position: 45% 10%;
  background-size: cover;
}

.card:hover .recipient5 {
  background-image: url(images/headshot9.jpg);
}

.recipient6 {
  background: 
  linear-gradient(
    rgba(56, 56, 56, .6),
    rgba(56, 56, 56, .6)),
  url(images/headshot4.jpg);
  background-position: 45% 30%;
  background-size: cover;
}

.card:hover .recipient6 {
  background-image: url(images/headshot4.jpg);
}

.recipient7 {
  background: 
  linear-gradient(
    rgba(56, 56, 56, .6),
    rgba(56, 56, 56, .6)),
  url(images/headshot13.jpg);
  background-position: 45% 15%;
  background-size: cover;
}

.card:hover .recipient7 {
  background-image: url(images/headshot13.jpg);
}

.recipient8 {
background: 
  linear-gradient(
    rgba(56, 56, 56, .6),
    rgba(56, 56, 56, .6)),
  url(images/headshot2.jpg);
  background-position: 45% 10%;
  background-size: cover;
}

.card:hover .recipient8 {
  background-image: url(images/headshot2.jpg);
}

.card-text {
  margin: 15px;
}

@media only screen and (max-width: 969px) {
 .header-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    padding: 0 20px;
    height: 150px;
  }

  .logo {
    grid-area: 1 / 1;
    justify-content: flex-start;
    margin: 0;
    padding: 20px 0 0 10px;
    align-items: center;
  }

   .logo-text {
    font-size: 4em;
  }

   .logo-icon {
    width: 3em;
  }

  .admin {
    grid-area: 1 / 1;
  }

.nav-bar-container {
    margin: 0;
  }

  .nav-bar-li {
    font-size: 1em;
  }

  .shares {
    padding: 10px 0 0 0;
    font-size: 1.75em;
  }

  .card-container {
    margin: 2%;
  }
}

@media only screen and (max-width: 640px) {
   .header-container {
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    padding: 0 20px;
    height: 150px;
  }

  .card-container {
    margin: 2%;
  }

  .logo {
    grid-area: 1 / 1;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .nav-bar-container {
    align-items: center;
  }

  .admin-username {
    display: none;
  }

  .admin {
    grid-area: 2 / 1;
    cursor: pointer;
    display: flex;
    margin: 0;
  }

  .admin-icon {
    align-items: center;
    margin: 0;
  }

  .down-icon {
    display: none;
  }

  .nav-bar-li {
    display: none;
  }

  .nav-icon {
    margin-right: 30px
  }
  .shares {
    padding: 10px 0 0 0;
    font-size: 1.5em;
  }
}