body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header-container {
  background-color: #2b2b2b;
  color: #ffffff;
  display: grid;
  grid-template-columns: 72% 28%;
  grid-template-rows: repeat(2, 1fr);
  height: 175px;
}

.body-container {
  background-color: #efefef;
  height: 100%;
  width:100%;
}

.admin {
  align-items: center;
  display: flex;
  grid-area: 1 / 2 / 2 / 2;
  justify-content: flex-end;
  margin: 0 0 30px 0;
}

.admin-username {
  color: #29b5fC;
  font-size: 1em;
}

.admin-username:hover {
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
}

.admin-icon {
  height: 1.6em;
  margin: 0 10px;
  width: 1.6em;
}

.down-icon {
  height:1em;
  margin: 0 20px 0 10px;
  width: 1em;
}

.logo {
  align-items: center;
  display: flex;
  grid-area: 2 / 2 / span 1 / span 1;
  justify-content: flex-end;
  padding: 0 20px 20px 0;
}

.logo-text {
  display: flex;
  font-size: 5em;
  justify-content: flex-end;
  margin: 0 7px 0 0;
}

.logo-text:hover {
  cursor: pointer;
}

.logo-icon {
  height: 4em;
  width: 4em;
}

.logo-icon:hover {
  cursor: pointer;
}

.nav-bar-container {
  display: flex;
  grid-area: 2 / 1 / span 1 / span 1;
  margin: 0 20px;
  padding: 0;
}

.nav-bar-li {
  color: #868686;
  display: inline-block;
  font-size: 1.3em;
  list-style-type: none;
  margin-right: 30px;
}

.nav-playlists {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.nav-bar-li:hover {
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
} 

.nav-icon {
  height: 1.7em;
  margin: 0 10px 0 0;
  padding: 0 0 3px 0;
  width: 1.7em;
}

.nav-videos {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.shares {
  color: #4d4d4d;
  font-size: 2em;
  margin: 0 20px;
  padding: 20px 0 0 0;
}

.nav-shares {
  align-items: center;
  display: flex;
}

.card-container {
  color: #686868;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 20px;
}

.name {
  font-size: 1.9em;
  margin-bottom: 0;
}

.date {
  color: #7b7b7b;
  font-size: 1em;
  margin-top: 5px;
  padding: 0;
}

.link {
  background-color: #efefef; 
  color: #686868;
  font-size: 1em;
  margin: 25px 0;
  padding: 15px;
  text-decoration: none;
  word-wrap: break-word;
}

.link:hover {
  color: #29b5fC;
  cursor: pointer;
  text-decoration: underline;
}

h4 {
  font-size: 1em;
  margin: 30px 0 0 0;
  text-transform: uppercase;
}

.playlist-name {
  font-size: 1.5em
  margin: 0;
}

.attachment-number {
  color: #29b5fC;
  font-size: 3em;
  margin: 5px 0 0 0;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all .2s ease-in-out;
}

.card-pic {
  background-size: cover;
  display: flex;
  height: 150px;
  justify-content: space-between;
}

.arrow-icon {
  height: 60px;
  margin: 15px;
  width: 60px;
}

.arrow-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
} 

.views {
  align-content: center;
  margin: 15px;
}

.views-text {
  color: #ffffff;
  display: block;
  font-size: .75em;
  margin: 0;
  text-transform: uppercase;
}

.view-number {
  color: #ffffff;
  display: block;
  font-size: 1.7em;
  margin: 0;
  padding-left: 3px;
}

.card:hover {
  cursor: pointer;
}

.recipient1 {
  background: 
    linear-gradient(
      rgba(56, 56, 56, .6),
      rgba(56, 56, 56, .6)),
    url(images/headshot1.jpg);
  background-position: 45% 20%;
  background-size: cover;
}

.card:hover .recipient1 {
  background-image: url(images/headshot1.jpg);
}

.recipient2 {
  background: 
    linear-gradient(
      rgba(56, 56, 56, .6),
      rgba(56, 56, 56, .6)),
    url(images/headshot14.jpg);
  background-position: 45% 20%;
  background-size: cover;
}

.card:hover .recipient2 {
  background-image: url(images/headshot14.jpg);
}

.recipient3 {
  background: 
    linear-gradient(
      rgba(56, 56, 56, .6),
      rgba(56, 56, 56, .6)),
    url(images/headshot3.jpg);
  background-position: 45% 20%;
  background-size: cover;
}

.card:hover .recipient3 {
  background-image: url(images/headshot3.jpg);
}

.recipient4 {
  background: 
    linear-gradient(
      rgba(56, 56, 56, .6),
      rgba(56, 56, 56, .6)),
    url(images/headshot17.jpg);
  background-position: 45% 20%;
  background-size: cover;
}

.card:hover .recipient4 {
  background-image: url(images/headshot17.jpg);
}

.recipient5 {
  background: 
    linear-gradient(
      rgba(56, 56, 56, .6),
      rgba(56, 56, 56, .6)),
    url(images/headshot9.jpg);
  background-position: 45% 10%;
  background-size: cover;
}

.card:hover .recipient5 {
  background-image: url(images/headshot9.jpg);
}

.recipient6 {
  background: 
    linear-gradient(
      rgba(56, 56, 56, .6),
      rgba(56, 56, 56, .6)),
    url(images/headshot4.jpg);
  background-position: 45% 30%;
  background-size: cover;
}

.card:hover .recipient6 {
  background-image: url(images/headshot4.jpg);
}

.recipient7 {
  background: 
    linear-gradient(
      rgba(56, 56, 56, .6),
      rgba(56, 56, 56, .6)),
    url(images/headshot13.jpg);
  background-position: 45% 15%;
  background-size: cover;
}

.card:hover .recipient7 {
  background-image: url(images/headshot13.jpg);
}

.recipient8 {
  background: 
    linear-gradient(
      rgba(56, 56, 56, .6),
      rgba(56, 56, 56, .6)),
    url(images/headshot2.jpg);
  background-position: 45% 10%;
  background-size: cover;
}

.card:hover .recipient8 {
  background-image: url(images/headshot2.jpg);
}

.card-text {
  margin: 15px;
}

@media only screen and (max-width: 969px) {
  .header-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    padding: 0 20px;
    height: 150px;
  }

  .logo {
    grid-area: 1 / 1;
    justify-content: flex-start;
    margin: 0;
    padding: 20px 0 0 10px;
    align-items: center;
  }

  .logo-text {
    font-size: 4em;
  }

  .logo-icon {
    width: 3em;
  }

  .admin {
    grid-area: 1 / 1;
  }

  .nav-bar-container {
    margin: 0;
  }

  .nav-bar-li {
    font-size: 1em;
  }

  .shares {
    padding: 10px 0 0 0;
    font-size: 1.75em;
  }

  .card-container {
    margin: 2%;
  }
}

@media only screen and (max-width: 640px) {
  .header-container {
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    height: 150px;
    padding: 0 20px;
  }

  .card-container {
    margin: 2%;
  }

  .logo {
    align-items: center;
    grid-area: 1 / 1;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .nav-bar-container {
    align-items: center;
  }

  .admin-username {
    display: none;
  }

  .admin {
    cursor: pointer;
    display: flex;
    grid-area: 2 / 1;
    margin: 0;
  }

  .admin-icon {
    align-items: center;
    margin: 0;
  }

  .down-icon {
    display: none;
  }

  .nav-bar-li {
    display: none;
  }

  .nav-icon {
    margin-right: 30px
  }
  
  .shares {
    font-size: 1.5em;
    padding: 10px 0 0 0;
  }
}